<p id="notice"><%= notice %></p>

<h1>Coins</h1>

<table>
  <thead>
    <tr>
      <th colspan="2"> Symbol</th>
      <th colspan="2"> Price</th>
    </tr>
  </thead>

  <tbody>
    <% @best_coins_by_market_cap.each do |coin| %>
      <tr>
        <td> <%=coin["name"] %></td>
        <td> <%=coin["current_price"] %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
