<h1>Your wallet</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% if @wallet.wallet_coins.empty?%>
    <p> You have no coins.</p>
  <% else %>
    <%= @wallet.wallet_coins.each do |wc| %>
      <tr>
        <td> <%=wc.coin["api_key"] %></td>
        <td> <%=wc.coin["api_name"] %> </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>