<br>
<%= link_to 'Wallet Coins', wallet_coins_path %> <p> | </p>
<%= link_to 'Coins', coins_path %> <p> | </p>
<%= link_to 'Wallet', wallets_path %> <p> | </p>
<%= link_to 'Transactions', transactions_path %>